doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title harp & d3-stack
    meta(name='author', content='Fust Kilas')
    meta(name='description', content='harp based d3-stack presentations')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='main.css')
  
    
  body
    != yield

    script(src="https://d3js.org/d3.v4.min.js")
    script(src="https://raw.githubusercontent.com/mbostock/stack/gh-pages/stack.v1.min.js")
    script(src="./main.js")

